* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	min-height: 100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: #37465a;
	font-size: 16px;
	width: inherit;
	min-height: inherit;
}

figure {
}

footer {
	max-width: 60rem;
	margin: 0 auto;
	padding: 20px;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	border-bottom: 1px solid #b59dce;
}

.footer-top-left {
	display: flex;
	align-items: center;
}

.footer-top-left a {
	display: block;
	margin-right: 20px;
}

.footer-top-left a figure {
	width: 181px;
	margin-right: 30px;
}

.footer-top-left a figure img {
	width: 100%;
}

.right-logo {
	width: 181px;
}

.right-logo img {
	width: 100%;
}

.footer-links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 30px;
}

.footer-links div a,
.footer-bottom-title a,
.footer-top-left a {
	display: block;
	margin-top: 10px;
	color: #37465a;
	text-decoration: none;
}

.footer-top-left a {
	margin-top: 0;
}

.footer-bottom-title a {
	display: inline;
}

.footer-links div a:hover,
.footer-bottom-title a:hover,
.footer-top-left a:hover {
	text-decoration: underline;
}

.footer-bottom-title {
	margin-top: 40px;
}

.img-mobile {
	display: none;
	justify-content: space-between;
	margin-bottom: 20px;
}

.img-mobile figure {
	width: 120px;
}

.img-mobile figure img {
	width: 100%;
}

.figure-label,
.right-logo {
	position: relative;
}

.figure-label p,
.right-logo p {
	position: absolute;
	font-size: 12px;
	left: 33px;
}

@media only screen and (max-width: 1025px) {
	footer {
		max-width: 50rem;
		font-size: 13.5px;
	}

	.footer-top-left a img {
		width: 154px;
	}
}

@media only screen and (max-width: 769px) {
	footer {
		padding: 40px;
		font-size: 11px;
	}

	figure {
		width: 120px !important;
	}

	.right-logo p {
		left: -10px;
	}
}

@media only screen and (max-width: 426px) {
	footer {
		font-size: 16px;
	}

	.left-logo,
	.right-logo {
		display: none !important;
	}

	footer {
		width: 100%;
	}

	.footer-links {
		grid-template-columns: repeat(2, 1fr);
		row-gap: 20px;
	}

	.img-mobile {
		display: flex;
	}

	.figure-label p {
		left: -7px;
		top: -5px;
	}
}

@media only screen and (max-width: 376px) {
	footer {
		font-size: 14px;
		padding: 20px;
	}
}
